

@model Hospital

<hr />
 <a asp-controller="Hospitales"
                    asp-action="Index"

                    class="btn btn-info">
                         Volver a Index
                     </a>
<hr />

<h1>ID HOSPITAL: @Model.IdHospital</h1>

<h1>NOMBRE: @Model.Nombre</h1>

<h1>DIRECCION: @Model.Direccion</h1>

<h1>TELEFONO: @Model.Telefono</h1>

<h1>NUM CAMAS: @Model.Num_Cama</h1>